<nav class="menu padding">
    <div class="wrap flex space-between">
        <ul>
            <li>
                <a href="">Trending</a>
            </li>
            <li>
                <a href="">Top Rated</a>
            </li>
            <li>
                <a href="">New Arrivals</a>
            </li>
            <li>
                <a href="">Trailers</a>
            </li>
            <li>
                <a href="">Coming</a>
            </li>
            <li class="flex">
                <a href="">
                    Genre
                    <i class="fas fa-angle-down"></i>
                </a>
                <ul class="submenu">
                    <li>
                        <a href="">Item 1</a>
                    </li>
                    <li>
                        <a href="">Item 777</a>
                    </li>
                    <li>
                        <a href="">Item 1</a>
                    </li>
                </ul>
            </li>
        </ul>
        <button type="button" class="bars">
            <i class=" fa fa-bars"></i>
        </button>
        <div class="menu__view">
            <button type="button" class="view-active">
                <i class="fas fa-th-large"></i>
            </button>
            <button type="button">
                <i class="fas fa-th-list"></i>
            </button>
        </div>
    </div>
</nav>