<div class="footer-wrapper padding">
    <div class="footer wrap">
        <nav class="footer__menu flex">
            <ul class="flex flex flex-wrap">
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Terms of Service</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="footer__copyright flex flex-column">
            <a href="" class="logo center">Movie<span>rise</span></a>
        </div>
        <div class="footer__social flex flex-wrap">
            <a href="">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="">
                <i class="fab fa-pinterest-p"></i>
            </a>
            <a href="">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="">
                <i class="fab fa-youtube"></i>
            </a>
        </div>
    </div>
    <div class="footer-copyright center flex flex-wrap">
        <span>
            Copyright © 2017
        </span>
        <a class="logo">
            MOVIE<span>RISE</span>
        </a>.
        <span>
            All Rights Reserved.
        </span>
    </div>
</div>