@import "../../theme/_theme";

.header {
    @include Logo($color: white);

    height: 120px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    label {
        position: relative;

        input[type="search"] {
            width: 20px;
            padding-right: 70px;

            &:hover {
                background: transparent;
            }

            &:focus {
                width: 280px;
                background: $brand-color;
            }
        }

        i {
            color: white;
            font-size: 2.5rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            cursor: pointer;
        }
    }
}

@media all and (max-width: 1000px) {
    .header {
        display: grid;
        grid-template-columns: 1fr;

        a {
            text-align: center;
        }

        label {
            i {
                font-size: 2rem;
            }
        }
    }
}