<div class="slider padding">
    <div class="slider__page wrap">
        <button type="button"></button>
        <button type="button" class="active"></button>
        <button type="button"></button>
        <button type="button"></button>
        <button type="button"></button>
    </div>
    <div class="slider__footer wrap">
        <div class="slider__footer--info">
            <h1>The Jungle Book</h1>
            <div class="flex">
                <ul class="genre flex flex-wrap">
                    <li>
                        <a href="">Adventure</a>
                    </li>
                    <li>
                        <a href="">Drama</a>
                    </li>
                    <li>
                        <a href="">Family</a>
                    </li>
                    <li>
                        <a href="">Fantasy</a>
                    </li>
                </ul>
                <span class="genre">1h 46m</span>
            </div>
            <div class="rating flex">
                <div class="rating__stars flex">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="rating__count">4.8</div>
            </div>
        </div>
        <div class="slider__footer--control">
            <div class="control-button flex flex-wrap">
                <button type="button" class="movie-button-border">Watch Now</button>
                <button type="button" class="movie-button-border">View Info</button>
                <button type="button" class="favorites">+ Favorites</button>
                <button type="button" class="control-menu">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
    </div>
</div>