@mixin Helvetica-Regular() {
    font-family: 'Helvetica-Regular', sans-serif;
}

@mixin Helvetica-Bold() {
    font-family: 'Helvetica-Bold', sans-serif;
}

@mixin Helvetica-Black() {
    font-family: 'Helvetica-Black', sans-serif;
}

@mixin Helvetica-Thin() {
    font-family: 'Helvetica-Thin', sans-serif;
}

@mixin Helvetica-Medium() {
    font-family: 'Helvetica-Medium', sans-serif;
}

@mixin Helvetica-Light() {
    font-family: 'Helvetica-Light', sans-serif;
}