<div class="content wrap">
    <div class="film hide" style="background-image: url(../../img/1.png)">
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Fantastic Beasts</h2>
                <div class="film__description--rating">4.7</div>
                <ul class="film__description--range clip">
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film film-active show" style="background-image: url(../../img/1.png)">
        <div class="transparent"></div>
        <div class="film-active-wrapper">
            <div class="control-button flex">
                <button>
                    <i class="fas fa-times"></i>
                </button>
                <div>
                    <button type="button" class="favorites">+ Favorites</button>
                    <button type="button" class="control-menu">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div>
            </div>
            <div class="film__description film-info__description">
                <h2 class="clip">Fantastic Beasts</h2>
                <div class="film__description--rating rating-info">4.7</div>
                <ul class="film__description--range clip">
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
            <p class="film-info__text">
                There are growing dangers in the wizarding world of 1926 New York. Something
                mysterious is leaving a path of destruction in the streets, threatening to
                expose the wizarding
            </p>
            <button type="button" class="movie-button-border active">Watch Now</button>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/2.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">AssAssin’s Creed</h2>
                <div class="film__description--rating">4.2</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/3.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Now you see me 2</h2>
                <div class="film__description--rating">4.4</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Comedy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/4.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">The Legend of Tarzan</h2>
                <div class="film__description--rating">4.3</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Drama</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/5.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Doctor Strange</h2>
                <div class="film__description--rating">4.8</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/6.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Captain America Civil War</h2>
                <div class="film__description--rating">4.9</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Sci-Fi</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/7.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Alice Through the bla-bla</h2>
                <div class="film__description--rating">4.1</div>
                <ul class="film__description--range clip">
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/8.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Finding Dory</h2>
                <div class="film__description--rating">4.7</div>
                <ul class="film__description--range clip">
                    <li><a href="">Animation</a></li>
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Comedy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/9.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">The BFG</h2>
                <div class="film__description--rating">3.2</div>
                <ul class="film__description--range clip">
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Family</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/10.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Independence Day</h2>
                <div class="film__description--rating">3.9</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Sci-Fi</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/11.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Ice Age: Collisiobla-bla</h2>
                <div class="film__description--rating">4.5</div>
                <ul class="film__description--range clip">
                    <li><a href="">Adventure</a></li>
                    <li><a href="">Comedy</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="film" style="background-image: url(../../img/12.png)">
        <div class="description-hover">
            <button type="button" class="film-watch">
                <i class="fa fa-play"></i>
            </button>
            <span>Watch Now</span>
            <button class="movie-button-border">View info</button>
        </div>
        <div class="description-wrapper">
            <div class="film__description">
                <h2 class="clip">Moana</h2>
                <div class="film__description--rating">4.9</div>
                <ul class="film__description--range clip">
                    <li><a href="">Action</a></li>
                    <li><a href="">Fantasy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>